version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    restart: always
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # Java Memory limits
      KAFKA_HEAP_OPTS: "-Xmx512M -Xms512M"
      # Networking (Internal for Docker, External for Windows)
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  producer:
    build: .
    depends_on:
      - kafka
    environment:
      - KAFKA_BROKER_ADDRESS=kafka:29092
      - PRODUCER_DURATION=30
    command: python quix_app/producer.py
    restart: unless-stopped

  processor:
    build: .
    depends_on:
      - kafka
      - producer
    environment:
      - KAFKA_BROKER_ADDRESS=kafka:29092
    command: python quix_app/forward_decay_processor.py
    restart: unless-stopped

  evaluator:
    build: .
    depends_on:
      - kafka
      - producer
    environment:
      - KAFKA_BROKER_ADDRESS=kafka:29092
      - EVAL_OUTPUT=/app/evaluation/realtime_results.json
    command: python quix_app/realtime_evaluator.py
    restart: unless-stopped
    volumes:
      - ./evaluation:/app/evaluation